body {
  padding-top: 45px;
  padding-bottom: 25px;
  background-color: #fff;
}

section {
  margin-top: 25px;
  margin-bottom: 10px;
}

footer {
  margin-top: 30px;
  margin-bottom: 25px;
  border-top: 1px solid #ccc;
}

footer p {
  text-align: center;
  font-size: 70%;
  color: #888;
  margin-bottom: 0px;
}

@media (max-width: 480px) {
  body {
    padding-top: 0px;
  }
  body > .container {
    padding-top: 0px;
    padding-left: -10px;
    padding-right: -10px;
  }
  h1 small {
    font-size: 13px;
  }
  section {
    margin-top: 15px;
  }
}

#notfound-head {
  font-size: 80px;
  font-weight: 600;
  color: #aaa;
  margin: 50px 20px;
}

@media (min-width: 480px) and (max-width: 980px) {
  body {
    padding-top: 0px;
  }
  h1 small {
    font-size: 16px;
  }
  section {
    margin-top: 15px;
  }
}
