@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:10px 20px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#666;
  font-weight:300;
}

.wrapper {
  width:960px;
  margin:0 auto;
}

header {
  width:200px;
  float:left;
  position:fixed;
}

header h1 a {
  color:#444;
}

header .author-info {
  font-size:12px;
  font-style:normal;
  margin:10px 0px;
}

header .author-info p {
  margin:0px;
}

header .author-info div.block {
  margin:6px 0px;
}

header #social {
  margin-top:12px;
  font-size:20px;
}

header #social a {
  padding-right:5px;
}

header #social a:hover {
  color:#666;
}

#nav {
  margin: 12px 0px 24px 0px;
  text-align:right;
}

#nav ul, li {
  list-style:none;
  display:inline;
  padding:0;
  margin:0;
}

#nav ul li {
  margin-right:25px;
}

#nav ul a {
  line-height:1.1;
  font-size:16px;
  color:#666;
  text-decoration:none;
}

#nav ul a:hover {
  color:#B1C2B3;
  text-decoration:underline;
}

#nav ul a:active {
  color:#778691;
}

#home #nav-home a,
#posts #nav-posts a,
#projects #nav-projects a,
#papers #nav-papers a,
#about #nav-about a {
  color:#333;
  font-weight:700;
}
#home #nav-home a:hover,
#posts #nav-posts a:hover,
#projects #nav-projects a:hover,
#papers #nav-papers a:hover,
#about #nav-about a:hover {
  color:#B1C2B3;
  text-decoration:underline;
}


#main {
  width:720px;
  float:right;
  padding-bottom:50px;
}

#rss {
  font-size: 14px;
  text-align:right
  margin:4px 0px;
}

.index-post-date {
  color:#aaa;
  font-size:0.8em;
  font-weight:400;
  margin-left:12px;
}

.twitter-timeline {
  width: 100%;
}

ul.posts {
  list-style:none;
}

ul.posts li {
  text-indent:-40px;
}

.posts-title {
  color:#666;
  font-size:24px;
  margin-bottom: 6px;
}

.posts-date {
  color:#aaa;
  font-size: 0.7em;
  font-weight: 400;
  margin-left: 20px;
}

.posts-separator {
  border-top: 1px solid #ccc;
  margin-bottom:30px;
}


.post-title {
  color:#666;
  font-size:26px;
}

.post-date {
  color:#aaa;
  font-size:0.9em;
}

.post-tags {
  color:#bbb;
  font-size:0.9em;
  margin:6px 0px;
}

.post-tag {
  margin-right:6px;
}



h1, h2, h3, h4, h5, h6 {
  color:#333;
  margin:10px 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a:hover {
  color:#069;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

a:hover small {
  color:#777;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background:#f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x:auto;
}

img {
  max-width:100%;
}

small {
  font-size:11px;
}

strong {
  color:#222;
  font-weight:700;
}


@media print, screen and (max-width:960px) {
  
  .wrapper {
    width:768px;
  }
  
  #main {
    width:520px;
  }

  #nav ul a {
    font-size:1.3em;
  }

  body {
    word-wrap:break-word;
    padding:10px;
  }
  
  header {
    padding:0;
  }
  
  pre, code {
    word-wrap:normal;
  }

  section {
    border:1px solid #eee;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

}

@media print, screen and (max-width: 768px) {

  .wrapper {
    width:700px;
  }
  
  #main {
    width:480px;
  }

  #nav ul li {
    margin-right:16px;
  }

  #nav ul a {
    font-size:1.1em;
  }

}

@media print, screen and (max-width: 568px) {

  body {
    padding:5px 6px;
  }

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, #main {
    float:none;
    position:static;
    width:auto;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size:0.9em;
  }

  header #social a {
    padding-right:35px;
  }

  #nav {
    margin: 10px 0px;
    text-align:left;
  }

  #nav ul li {
    margin-right:16px;
  }

  #nav ul a {
    font-size:1em;
  }

}

@media print, screen and (max-width: 480px) {

  body {
    padding:10px 4px;
  }

  header #social a {
    padding-right:25px;
  }

  #nav ul li {
    margin-right:12px;
  }

}

@media print, screen and (max-width: 320px) {

  #nav ul li {
    margin-right:8px;
  }

}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}