<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="john goodall's blog">
  <meta name="viewport" content="width=device-width">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="/css/font-awesome.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

  <div class="wrapper">
    
    <header>
      <h1><a href='/'>John R. Goodall</a></h1>
      <address>
        <p><a href='https://www.ornl.gov/'>Oak Ridge National Laboratory</a></p>
        <p>1 Bethel Valley Rd.</p>
        <p>Oak Ridge, TN 37831-6418</p>
        <p><i class='icon-phone'></i> 865-446-0611</p>
        <p><i class='icon-envelope'></i> jgoodall@ornl.gov</p>
        <p><i class='icon-file'></i> <a href="http://dl.dropbox.com/u/298645/goodall_cv.pdf">Curriculum vitae</a></p>
      </address>
      <div id='social'>
        <a href='https://twitter.com/johnrgoodall'><i class='icon-twitter'> </i></a>
        <a href='http://www.linkedin.com/in/johnrgoodall'><i class='icon-linkedin'> </i></a>
        <a href='https://github.com/jgoodall/'><i class='icon-github'> </i></a>
      </div>
      <br />
      <ul>
        <li><a href="/"><i class="icon-chevron-right"></i> posts</a></li>
        <li><a href="/projects.html"><i class="icon-chevron-right"></i> projects</a></li>
        <li><a href="/papers.html"><i class="icon-chevron-right"></i> papers</a></li>
        <li><a href="/about.html"><i class="icon-chevron-right"></i> about</a></li>
      </ul>
    </header>
    