<header>
  <h1><a href='/'>{{ site.author }}</a></h1>
  <address>
    <p class='address-block'><a href='https://www.ornl.gov/'>Oak Ridge National Laboratory</a></p>
    <p class='address-block'><i class='icon-phone'></i>  &nbsp; 865-446-0611</p>
    <p><i class='icon-envelope'></i>  &nbsp; {{ site.email }}</p>
    <p class='address-block'><a href="http://dl.dropbox.com/u/298645/goodall_cv.pdf"><i class='icon-file'></i> &nbsp; &nbsp; Curriculum vitae</a></p>
    <p><a href='https://speakerdeck.com/jgoodall'><i class='icon-picture'></i> &nbsp; Presentations</a></p>
  </address>
  <div id='social'>
    <a href='/atom.xml' rel='alternate' type='application/atom+xml' title='{{ site.author }} Atom Feed'><i class='icon-rss'></i></a>
    <a href='https://twitter.com/johnrgoodall' title='{{ site.author }} on Twitter'><i class='icon-twitter'> </i></a>
    <a href='http://www.linkedin.com/in/johnrgoodall' title='{{ site.author }} on LinkedIn'><i class='icon-linkedin'> </i></a>
    <a href='https://github.com/jgoodall/' title='{{ site.author }} on Github'><i class='icon-github'> </i></a>
  </div>
  <br />
  <ul>
    <li><a href="/"><i class="icon-chevron-right"></i> home</a></li>
    <li><a href="/posts.html"><i class="icon-chevron-right"></i> posts</a></li>
    <li><a href="/projects.html"><i class="icon-chevron-right"></i> projects</a></li>
    <li><a href="/papers.html"><i class="icon-chevron-right"></i> papers</a></li>
    <li><a href="/about.html"><i class="icon-chevron-right"></i> about</a></li>
  </ul>
  <div id='copy'>&copy; 2012, John Goodall</div>
  
</header>
    
  