<header>
  <h1><a href='/'>{{ site.author }}</a></h1>
  <div class='author-info'>
    <div class='block'>
      <p><a href='{{ site.employer_url }}'>{{ site.employer }}</a></p>
    </div>
    <div class='block'>
      <p><i class='icon-phone'></i>  &nbsp; {{ site.phone }}</p>
      <p><i class='icon-envelope'></i>  &nbsp; {{ site.email }}</p>
    </div>
    <div class='block'>
      <p><a href='{{ site.cv_url }}'><i class='icon-file'></i> &nbsp; &nbsp; Curriculum vitae</a></p>
      <p><a href='https://speakerdeck.com/{{ site.speakerdeck }}'><i class='icon-picture'></i> &nbsp; Presentations</a></p>
    </div>
  </div>
  <div id='social'>
    <a href='/atom.xml' rel='alternate' type='application/atom+xml' title='{{ site.author }} Atom Feed'><i class='icon-rss'></i></a>
    <a href='https://twitter.com/{{ site.twitter }}' title='{{ site.author }} on Twitter'><i class='icon-twitter'> </i></a>
    <a href='https://www.linkedin.com/in/{{ site.linkedin }}' title='{{ site.author }} on LinkedIn'><i class='icon-linkedin'> </i></a>
    <a href='https://github.com/{{ site.github }}/' title='{{ site.author }} on Github'><i class='icon-github'> </i></a>
  </div>
  <br />
  <ul class='nav-menu'>
    <li><a href='/'><i class='icon-chevron-right'></i> home</a></li>
    <li><a href='/posts/'><i class='icon-chevron-right'></i> posts</a></li>
    <li><a href='/projects/'><i class='icon-chevron-right'></i> projects</a></li>
    <li><a href='/papers/'><i class='icon-chevron-right'></i> papers</a></li>
    <li><a href='/about/'><i class='icon-chevron-right'></i> about</a></li>
  </ul>
  
</header>
    
  