<header>
  <h1><a href='/'>John R. Goodall</a></h1>
  <address>
    <p class='address-block'><a href='https://www.ornl.gov/'>Oak Ridge National Laboratory</a></p>
    <p>1 Bethel Valley Rd.</p>
    <p>Oak Ridge, TN 37831-6418</p>
    <p class='address-block'><i class='icon-phone'></i>  &nbsp; 865-446-0611</p>
    <p><i class='icon-envelope'></i>  &nbsp; jgoodall@ornl.gov</p>
    <p class='address-block'><i class='icon-file'></i> &nbsp; &nbsp; <a href="http://dl.dropbox.com/u/298645/goodall_cv.pdf">Curriculum vitae</a></p>
    <p><i class='icon-picture'></i> &nbsp; <a href='https://speakerdeck.com/jgoodall'>Presentations</a></p>
  </address>
  <div id='social'>
    <a href='https://twitter.com/johnrgoodall'><i class='icon-twitter'> </i></a>
    <a href='http://www.linkedin.com/in/johnrgoodall'><i class='icon-linkedin'> </i></a>
    <a href='https://github.com/jgoodall/'><i class='icon-github'> </i></a>
  </div>
  <br />
  <ul>
    <li><a href="/"><i class="icon-chevron-right"></i> home</a></li>
    <li><a href="/posts.html"><i class="icon-chevron-right"></i> posts</a></li>
    <li><a href="/projects.html"><i class="icon-chevron-right"></i> projects</a></li>
    <li><a href="/papers.html"><i class="icon-chevron-right"></i> papers</a></li>
    <li><a href="/about.html"><i class="icon-chevron-right"></i> about</a></li>
  </ul>
</header>
    