<header itemscope itemtype='http://data-vocabulary.org/Person'>
  <h1><a href='/'><span itemprop='name'>{{ site.title }}</span></a></h1>
  <div class='author-info'>
    <div class='block'>
      <p><span itemprop='role'>Research Scientist</span> / <span itemprop='title'>Team Lead</span></p>
      <p>{{ site.team }}</p>
      <p><a href='{{ site.employer_url }}' itemprop='affiliation'>{{ site.employer }}</a></p>
    </div>
    <div class='block'>
      <p><span itemprop='title'>Assistant Director</span></p>
      <p><a href='http://cisml.utk.edu/' itemprop='affiliation'>Center for Intelligent Systems and Machine Learning (CISML)</a></p>
    </div>
    <div class='block'>
      <p><i class='fa fa-phone'></i>  &nbsp; {{ site.phone }}</p>
      <p><i class='fa fa-envelope'></i>  &nbsp; {{ site.email }}</p>
      <p><i class='fa fa-bookmark'></i>  &nbsp; <a href='http://jgoodall.me/' itemprop='url'>{{ site.url }}</a></p>
    </div>
    <div class='block'>
      <p><i class='fa fa-file-text'></i> &nbsp; <a href='{{ site.cv_url }}' title='Curriculum vitae (pdf)'>Curriculum vitae</a></p>
    </div>
  </div>
  <div class='social'>
    <a href='/feed.xml' rel='alternate' type='application/atom+xml' title='{{ site.title }} Atom Feed'><i class='fa fa-2x fa-fw fa-rss-square'></i></a>
    <a href='https://www.linkedin.com/in/{{ site.linkedin.username }}' title='{{ site.title }} on LinkedIn :: https://www.linkedin.com/in/{{ site.linkedin.username }}'><i class='fa fa-2x fa-fw fa-linkedin-square'> </i></a>
    <a href='https://twitter.com/{{ site.twitter.username }}' title='{{ site.title }} on Twitter :: https://twitter.com/{{ site.twitter.username }}'><i class='fa fa-2x fa-fw fa-twitter-square'> </i></a>
    <a href='https://github.com/{{ site.github.username }}/' title='{{ site.title }} on Github :: https://github.com/{{ site.github.username }}/'><i class='fa fa-2x fa-fw fa-github-square'> </i></a>
  </div>
</header>
