<header itemscope itemtype='http://data-vocabulary.org/Person'>
  <h1><a href='/'><span itemprop='name'>{{ site.author }}</span></a></h1>
  <div class='author-info'>
    <div class='block'>
      <p><span itemprop='role'>Research Scientist</span> / <span itemprop='title'>Team Lead</span></p>
      <p>Situation Awareness and Visual Analytics team</p>
      <p><a href='{{ site.employer_url }}' itemprop='affiliation'>{{ site.employer }}</a></p>
    </div>
    <div class='block'>
      <p><i class='icon-phone'></i>  &nbsp; {{ site.phone }}</p>
      <p><i class='icon-envelope'></i>  &nbsp; {{ site.email }}</p>
      <p><i class='icon-bookmark'></i>  &nbsp; <a href='http://jgoodall.me/' itemprop='url'>{{ site.url }}</a></p>
    </div>
    <div class='block'>
      <p><i class='icon-file'></i> &nbsp; <a href='{{ site.cv_url }}' title='Curriculum vitae (pdf)'>Curriculum vitae</a></p>
      <p><i class='icon-picture'></i> &nbsp; <a href='https://speakerdeck.com/{{ site.speakerdeck }}' title='{{ site.author }} on SpeakerDeck :: https://speakerdeck.com/{{ site.speakerdeck }}'>Presentations</a></p>
    </div>
  </div>
  <div id='social'>
    <a href='/atom.xml' rel='alternate' type='application/atom+xml' title='{{ site.author }} Atom Feed'><i class='icon-rss'></i></a>
    <a href='https://www.linkedin.com/in/{{ site.linkedin }}' title='{{ site.author }} on LinkedIn :: https://www.linkedin.com/in/{{ site.linkedin }}'><i class='icon-linkedin'> </i></a>
    <a href='https://twitter.com/{{ site.twitter }}' title='{{ site.author }} on Twitter :: https://twitter.com/{{ site.twitter }}'><i class='icon-twitter'> </i></a>
    <a href='http://{{ site.tumblr }}.tumblr.com/' title='{{ site.author }} on Tumblr :: http://{{ site.tumblr }}.tumblr.com/'><i class='icon-tumblr'> </i></a>
    <a href='https://github.com/{{ site.github }}/' title='{{ site.author }} on Github :: https://github.com/{{ site.github }}/'><i class='icon-github'> </i></a>
  </div>  
</header>
    
  